beautifulsoup4==4.14.2
cramjam==2.11.0
et_xmlfile==2.0.0
fastparquet==2024.11.0
fsspec==2025.10.0
greenlet==3.2.4
html5lib==1.1
lxml==6.0.2
numpy==2.3.4
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
psycopg2-binary==2.9.11
pyarrow==22.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
soupsieve==2.8
SQLAlchemy==2.0.44
typing_extensions==4.15.0
tzdata==2025.2
webencodings==0.5.1
python-dotenv